.chat-container{
  height: 50%;
  width: 280px;
  background: white;
  position: fixed;
  bottom: 51px;
  left: 5px;
  right: 0;
  z-index: 5;


display: flex;
flex-flow: column nowrap;

}

.chat-send-input-container{
  height: 40px;
  padding: 2px 0;
  width: 100%;
  margin: 0;


   background-color: #E9E9E9;
  // outline: 1.5px dashed #D1D4D4;
  font-weight: 300;
  display: flex;
  flex-flow: row nowrap;
}

.chat-messages-container{
  display: block;
  overflow: auto;
  top: 0;
  height: 310px;
  outline: 1.5px dashed #D1D4D4;
  font-weight: 300;
  width: 100%;
  margin: auto;
  flex-basis: 100%;
  align-self: flex-start;
  box-sizing: border-box;
}

.chat-input-text{
  height: 35px;
  font-size: 15px;
  margin: auto;
  width: 80%;
  margin-left: 4px;
  top: 50%;
  border: none;
  background-color: white;
}

.chat-input-submit {
  background: url("/../../../material-ui/svg-icons/content/send");
  background-size:cover;
  top: 80%;
  border: none;
  display: flex;
  flex-flow: row nowrap;

}
div .message {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 10px;
}
.watson{
  display: flex;
  flex-flow: row;
  left: 0;
  padding-right: 5px;
  animation: received-message 1.2s ease-out 0s;
}
.watson-message-body{
  padding-top: 8px;
  padding-right: 5px;
  padding-left: 5px;
}
.robot-icon {
  height: 30px;
}
.robot-icon-container{
  display: flex;
 flex-flow: column nowrap;
 justify-content: flex-end;
 margin-bottom: -10px;

}
.chat-messages-container{
font-size: 13px;
padding-top: 2px;

}
.user{
  display: flex;
  flex-flow: row nowrap;
  width:auto;
  justify-content: flex-end;
  right:0;
  // float: right;

    // margin-top: 10px;
    //
    // font-size: 0.9em;
    // font-weight: 400;
    // animation: sent-message 0.6s ease-out 0s;
    // margin-left: 25%;
}

.user .message-body{
  margin-right: 10px;
  background: rgba(233,234,243,1.0);
  border-radius: 8px;
  color: rgba(32,40,70,0.9);
  padding: 14px;
  width:auto;
  padding-top: 8px;
  padding-right: 5px;
  padding-left: 5px;
}

@keyframes received-message {
    0%   { color: rgba(32,40,70,0.9);    transform: translate(-100px,0px); opacity: 0 }
    42%  { color: rgba(32,40,70,0.9);    transform: translate(-80px,0px);  opacity: 0.8 }
    60%  { color: rgba(122,214,184,0.9); transform: translate(3px,0px);  opacity: 1 }
    80%  { color: rgba(32,40,70,0.6);    transform: translate(-2px,0px);    opacity: 1 }
    90%  { color: rgba(32,40,70,0.8);    transform: translate(1px,0px);  opacity: 1 }
    100% { color: rgba(32,40,70,0.9);    transform: translate(0px,0px);    opacity: 1 }
}

@keyframes sent-message {
    0%   { color: rgba(32,40,70,0.9);    transform: translate(100px,50px); opacity: 0 }
    42%  { color: rgba(32,40,70,0.9);    transform: translate(80px,40px);  opacity: 0.8 }
    60%  { color: rgba(144,134,251,0.3); transform: translate(-3px,-7px);  opacity: 1 }
    80%  { color: rgba(32,40,70,0.5);    transform: translate(2px,3px);    opacity: 1 }
    90%  { color: rgba(32,40,70,0.7);    transform: translate(-1px,-2px);  opacity: 1 }
    100% { color: rgba(32,40,70,0.9);    transform: translate(0px,0px);    opacity: 1 }
}
