.chat-container{
height: 350px;
width: 280px;
background: white;
position: fixed;
bottom: 58px;
left: 0;
right: 0;
z-index: 5;

}

.chat-send-input-container{
  height: 45px;
  padding: 2px;
  width: 100%;
  margin: 0;
  bottom: 0;

}

.chat-messages-container{
overflow: auto;
top: 0;
background-color: #f3f3f3;
height: 305px
}
.chat-input-text{
  height: 30px;
 font-size: 15px;
 margin: auto;
 width: 80%;
 margin-left: 4px;
 top: 50%;
}
.chat-input-submit {
  background: url("/../../../material-ui/svg-icons/content/send");
  background-size:cover;
  top: 50%;
  

  // height: 25px;

}


// .btn {
//  border-width: 0;
//  outline: none;
//  border-radius: 2px;
//  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
//
//  background-color: #2ecc71;
//  color: #ecf0f1;
//
//  transition: background-color .3s;
// }
//
// .btn:hover, .btn:focus {
//  background-color: #27ae60;
// }
