
.mchat-container {
  width: 75%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: calc(100vh - 110px);
  overflow-x: hidden;
  overflow-y: scroll;
  color: #333333;
}
.mchat-container h2 {
  text-align: center;
  margin: 20px auto;
}

.message-input{

	width:100%;
	flex-flow: row nowrap;
}

.user2 {
  text-align: right;
}
.admin-message {
  border: 1px solid black;
  border-radius: 10px;
  width: 75%;
}
.user-message {
  float:right;
  border: 1px solid black;
  border-radius: 10px;
  width: 75%;
}
.admin {
}
