@import "../../containers/App/App.scss";
// .sPIncomplete {
//   background-color: $lime;
// }
.status-bar-landing {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}


.status-point {
  border-radius: 20px;
  width: 40px;
}

.status-bar-left {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}
.status-bar-right {
  width: 20%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  margin-right: 3%;
}
.status-bar-landing {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  border-top: 1px solid #0E4341;
}
.percenttext{
  padding-bottom: 3px;

}
