$green: #0E4341;


.input-tile-landing {
  width: 80%;
  margin: auto;
  text-align: left;
  margin-bottom: 60px;
}
.input-header-title {
font: 40px;
}
.login-container {
  background-color: white;
  width: 400px;
  margin: auto;
  margin-top: 90px;
  padding: 45px; }

.login-form-inputs {
  text-align: center; }

.login-landing {
  background: url("../../assets/loginbackground.png") center center no-repeat;
  background-size: cover;
  background-color: #0E4341;
  min-height: 100vh; }
