
h1 {
  color: red;
}
.login-landing {
  border: 1px solid blue;
}
.input-tile-landing {
  border: 1px solid blue;
}
.status-point {
  border-radius: 20px;
  width: 40px;
}
.sPComplete {
  background-color: green;
}
.sPIncomplete {
  background-color: red;
}
.status-bar-left {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.status-bar-right {
  width: 20%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.status-bar-landing {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  border: 1px solid black;
}
