
h1 {
  color: red;
}
.input-tile-landing {
  border: 1px solid blue;
}

// =======LOGIN PAGE =======

.login-container {
background-color: white;
width: 400px;
margin: auto;
padding: 45px;

}
.login-form-inputs{
  text-align: center;

}
.login-landing {
  background-color: #0E4341;
  padding-top: 100px;
  padding-bottom: 100px;

}
